{% extends 'base/base.html' %}

{% block content %}
<div style="text-align:center"><h1>Lista de Médicos</h1></div>
<table class="table table-bordered">
  <thead>
    <tr>
      <td>Cédula</td>
      <td>Apellidos</td>
      <td>Nombres</td>
      <td>Acciones</td>
    </tr>

  </thead>
  <tbody>
    {% if object_list %}
    {% for medico in object_list %}
    <tr>
      <td>{{ medico.cedula_medico }}</td>
      <td>{{ medico.apellido_paterno }} {{ medico.apellido_materno }}</td>
      <td>{{ medico.nombres }}</td>
      <td>
        <a class="btn btn-primary" href="{% url 'medico:medico_editar' medico.cedula_medico %}">Editar</a>
        <a class="btn btn-danger" href="{% url 'medico:medico_eliminar' medico.cedula_medico %}">Eliminar</a>
      </td>
    </tr>
    {% endfor %}
    
    {% else %}
    <h2>No hay registros de médicos</h2>
    {% endif %}
  </tbody>
</table> 
<div style="text-align:center"><a class="btn btn-primary" href="{% url 'medico:medico_inicio'%}">Regresar al inicio</a></div>
<ul class="pager">
  <li>
    {% if page_obj.has_previous %}
         <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
        </li>
  <li>
    {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">Next</a> 
      {% endif %}
    </li>
</ul>
{% endblock%}0