{% extends 'base/base.html' %}
{%  block content %}
<form method="post">
  {% csrf_token %}
  <table class="table table-center" width=50 >
  <tr>
    <div class="form">      
      <td class="tg-cly1"><label for="{{form.nss_paciente.name}}">{{form.nss_paciente.label}}</label></td>
      <td class="tg-cly1">{{form.nss_paciente}}</td>
    </div>
  </tr>
  <tr>
    <div class="form">      
      <td class="tg-cly1"><label for="{{form.cedula_medico.name}}">{{form.cedula_medico.label}}</label></td>
      <td class="tg-cly1">{{form.cedula_medico}}</td>
    </div>
  </tr>

</table>
  <div style="text-align:center"><td class="tg-cly1" colspan="2"><button  type="submit">Guardar</button> </td></div>
</form> 
{% endblock %}